# SMTP para envío de emails del formulario de contacto
# Gmail con App Password (arrocham97@gmail.com)
# TODO: migrar a dialsapyc@hotmail.com cuando se configure
GMAIL_USER=arrocham97@gmail.com
GMAIL_APP_PASSWORD=tu_app_password_de_gmail
