@import "tailwindcss";

@source "../../../../packages/ui/src/**/*.tsx";

@theme {
  --color-primary-50: #fffbeb;
  --color-primary-100: #fef3c7;
  --color-primary-200: #fde68a;
  --color-primary-300: #fcd34d;
  --color-primary-400: #fbbf24;
  --color-primary-500: #f59e0b;
  --color-primary-600: #d97706;
  --color-primary-700: #b45309;
  --color-primary-800: #92400e;
  --color-primary-900: #78350f;

  --color-accent-500: #dc2626;
  --color-accent-600: #b91c1c;
  --color-accent-700: #991b1b;

  --font-sans: "Inter", system-ui, -apple-system, sans-serif;
}
